{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017,2018 SUSE LLC
#
#}
set default=0
loadfont /boot/grub/fonts/unicode.pf2
set gfxmode=auto
insmod efi_gop
insmod efi_uga
insmod gfxterm
insmod legacycfg
set locale_dir=/boot/grub/locale
set lang=en_US
set timeout=10
insmod gettext
terminal_output gfxterm

configfile=/grub/grub.cfg-01-$net_default_mac
source "$configfile"
