{#
#
# (c) Copyright 2015 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017,2018 SUSE LLC
#
#}
set default=0
loadfont /boot/grub/fonts/unicode.pf2
set gfxmode=auto
insmod efi_gop
insmod efi_uga
insmod gfxterm
insmod legacycfg
set locale_dir=/boot/grub/locale
set lang=en_US
set timeout=10
insmod gettext
terminal_output gfxterm

tr -s boot_name : - $net_default_mac
tr -U -s config $boot_name

legacy_source (tftp)/grub/01-$config

regexp --set=1:m1 --set=2:m2 --set=3:m3 --set=4:m4 --set=5:m5 --set=6:m6 \
'^([0-9a-f]{1,2})\:([0-9a-f]{1,2})\:([0-9a-f]{1,2})\:([0-9a-f]{1,2})\:([0-9a-f]{1,2})\:([0-9a-f]{1,2})' \
 "$net_default_mac"

mac=${m1}-${m2}-${m3}-${m4}-${m5}-${m6}

configfile=/grub/grub.cfg-01-$mac
source "$configfile"
